@tailwind base;
@tailwind components;
@tailwind utilities;
.call-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .call-container video {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  /* .video-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  
  .local-video, .remote-video {
    width: 45%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
  } */